<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airline Reservation System</title>
    <%- include('partials/header.ejs') %>
</head>
<body>
    <%- include('partials/adminnav.ejs') %>

    <section id="contact" style="margin-top: 5%;">
        <div class="container-lg">
            <div class="text-center">
                <h2>Create a New Admin here</h2>
            </div>
            <div class="row justify-content-center my-5" style="margin-top: 2%;">
                <div class="col-lg-6">
                    <form action="/newadmin" method="POST">
                        <label class="form-label" for="adminname">New Admin Name</label>
                        <input class="form-control" type="text" name="adminname">
                        <br>
                        <label class="form-label" for="email">Email</label>
                        <input class="form-control" type="text" name="email">
                        <br>
                        <label class="form-label" for="password">Password</label>
                        <input class="form-control" type="password" name="password">
                        <br>
                        <button class="btn btn-success" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

<%- include('partials/foot.ejs') %>
</body>
</html>



